ipykernel
numpy
matplotlib
scipy
Pillow
opencv-python>=4.8.0
joblib
scikit-learn
pandas
seaborn
torch
torchvision
torchsummary
mediapipe>=0.10.0
gradio
kagglehub
tensorflow
streamlit>=1.24.0
streamlit-webrtc>=0.47.1
av>=10.0.0
flask
flask-cors
moviepy